<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutLoginForm}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/headerLogin.css}">
	<title>Insert title here</title>
</head>

<body>
	<nav layout:fragment="header" class="p-4"
		style="background-color: #1BA1E2;">
		<div class="text-center" style="color: white;">
			<h1 style="font-size: 400%;" th:text="#{maintitle}"></h1>
		</div>
	</nav>
</body>

</html>