<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap4-toggle/3.6.1/css/bootstrap4-toggle.min.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap4-toggle/3.6.1/js/bootstrap4-toggle.min.js}" defer></script>
	<title></title>
</head>
<body>
  <!-- ヘッダー -->
  <nav layout:replace="~{layout/headerLogin::header}"></nav>
  <!--メニュー--> 
  <!-- コンテンツ -->
  <div class="container-fluid">
    <div class="row">
      <div class="main">
        <div layout:fragment="content"></div>
      </div>
    </div>
  </div>
</body>
</html>