@charset "UTF-8";
.content-body{
	padding-top:156px ;
}

.mainbody{
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
}

table{
	width: 1000px;
	margin-left: 150px;
	border: solid 2px;
}

tr td{
	border: solid 1px;
}

.issue-btn{
	width: 400px;
}

.backbtn{
	background-color: #8a9198;
}

.officer{
	margin-right: 100px;
}
.leftColunm{
	width: 200px;
}