@charset "UTF-8";
.content-body{
	padding-top:156px ;
}

.mainbody{
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;
}

.backbtn{
	background-color: #8a9198;
}

.buttons{
	width: auto;
}

.tdRight{
	width: 320px;
}
td{
	font-size: 20px;
	width: 200px;
}

thead{
	font-size: 35px;
}

.Notice-btn{
	display: inline-block;
	width: 330px;
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 20px
}

.return-btn{
	width: 240px;
	height: 60px;
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin: 20px 60px
}