<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" th:href="@{/css/licenceSearch.css}">
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content" class="content-body">
		<div class="text-center">
			<div class="row mt-3">
				<div class="col-3">
					<div class="col-3">
						<a th:href="@{/homePage}" class="backbtn btn btn-light" th:text="#{back.btn}"><!--⇦戻る--></a>
					</div>
				</div>
				<div class="col-6 mt-3">
					<h1 th:text="#{licenceSearch}"><!--免許証検索--></h1>
					<div class="row mt-3">
						<div th:if="${errorMsg}" class="alert alert-danger" role="alert" >
							<p th:text="${errorMsg}" style="font-size: 20px;"></p>
						</div>
					</div>
					<div class="mt3">
						<!--検索フォーム-->
						<form method="post" th:object="${licenceSearchForm}" th:action="@{/licenceSearch}">
							<div class="row mt-3 mb-3">
								<div class="col-2">
									<label class="col-form-label" th:text="#{licenceNumber}"><!--免許証番号--></label>
								</div>
								<div class="col-8">
									<input type="search" class="form-control" th:field="*{licenceNumber}" th:errorclass="is-invalid"/>
								</div>
								<div class="col">
									<button class="search-btn btn btn-primary" type="submit" th:text="#{search}"><!--検索--></button>
								</div>
							</div>
						</form>
						<div class="row mt-5">
							<div class="col">
								<a th:href="@{/licenceSearch}" class="reset-btn btn btn-warning" th:text="#{reset}"><!--リセット--></a>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col">
								<a th:href="@{/homePage}" class="cancel-btn btn btn-light" th:text="#{cancel}"><!--キャンセル--></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-3 mt-3"></div>
			</div>
		</div>
	</div>
</body>

</html>