<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<!--<link rel="stylesheet" th:href="@{/css/trafficViolationNoticeCreation2.css}">-->
	<link rel="stylesheet" th:href="@{/css/confirmation.css}">
	<title>違反歴詳細</title>
</head>
<body>
	<div layout:fragment="content" class="content-body">
		<div class="mainbody">
			<div class="row mt-3">
				<form method="post" th:action="@{/violationRecordSearchForm}" class="form">
					<div class="col-3">
						<button type="submit" class="backbtn btn btn-light" th:text="#{backBtn}"><!--⇦戻る--></button>
						<input type="hidden" th:value="${session.searchInfo}" name="form"/>
					</div>
				</form>
			</div>
			<div class="mt-3 text-center">
				<h1>違反歴詳細</h1>
			</div>
			<div class="mt-3 text-center">
				<form>
					<table
						th:style="${vRecord.violationAndPointFines.violationPoints >= 6 ? 'background-color: pink;' : 
			                  (vRecord.violationAndPointFines.violationPoints >= 1 && vRecord.violationAndPointFines.fines >= 1 ? 'background-color: skyblue;' : 
			                  (vRecord.violationAndPointFines.violationPoints <= 1 && vRecord.violationAndPointFines.fines == 0 ? 'background-color: white;' : ''))}">
						
						<thead aria-colspan="2">交通反則告知書・免許証保管証（番号　　　　　　　　　）</thead>
						<tbody>
							<tr>
								<td class="leftColunm" th:text="#{IssuanceDateAndTime}"><!--告知・交付日時--></td>
								<td th:text="${publicationTime}"></td>
							</tr>
							<tr>
								<td></td>
								<td colspan="2" th:text="#{Affiliation.rank.and.name.of.notification.issuer}"><!--告知・交付者の所属、階級及び氏名--></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{affiliation}"><!--所属--></td>
								<td class="officer" th:text="${vRecord.officer.affiliation}"></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{grade}"><!--階級--></td>
								<td class="officer" th:text="${vRecord.officer.grade}"></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{fullName}"><!--氏名--></td>
								<td class="officer"
										th:text="${vRecord.officer.familyName + ' ' + vRecord.officer.firstName}"></td>
							</tr>
							<tr>
								<td>1⃣</td>
								<td colspan="2"><b th:text="#{violater}"><!--（1）反則者--></b></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{furigana}"><!--ふりがな--></td>
								<td><span th:text="${vRecord.licence.Furigana}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{fullName}"><!--氏名--></td>
								<td><span th:text="${vRecord.licence.driverName}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{birthday.age}"><!--生年月日（年齢）--></td>
								<td><span th:text="${birthday}"></span>(<span th:text="${vRecord.age}"></span>歳)</td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{address}"><!--住所--></td>
								<td><span th:text="${vRecord.licence.address}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{job}"><!--職業--></td>
								<td><span th:text="${vRecord.job.job}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{gender}"><!--性別--></td>
								<td><span th:text="${genderSelect}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{licenceNumber}"><!--免許証番号--></td>
								<td><span th:text="${vRecord.licence.licenceNumber}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{dateOfIssue}"><!--交付日--></td>
								<td><span th:text="${warekiIssueDate}"></span>交付</td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{dateOfExpiry}"><!--有効期限--></td>
								<td><span th:text="${warekiExpiryDate}"></span>まで有効</td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{issuer}"><!--交付者--></td>
								<td><span th:text="${vRecord.licence.prefectures}"></span>公安委員会</td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo.subAddress != null}">
								<td></td>
								<td colspan="2"><b th:text="#{PlaceOfWork}"><!--保護者または勤務先--></b></td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo.subAddress != null}">
								<td th:text="#{address}"><!--住所--></td>
								<td><span th:text="${vRecord.driversSubInfo.subAddress}"></span></td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo.tel != null}">
								<td class="leftColunm" th:text="#{tel}"><!--電話番号--></td>
								<td><span th:text="${vRecord.driversSubInfo.tel}"></span></td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo.subName != null}">
								<td class="leftColunm" th:text="#{fullName}"><!--氏名--></td>
								<td><span th:text="${vRecord.driversSubInfo.subName + ' '}"></span>年齢（<span th:text="${vRecord.driversSubInfo.subAge}"></span>歳）</td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo != null and vRecord.driversSubInfo.job != null and vRecord.driversSubInfo.job.job != null}">
								<td class="leftColunm" th:text="#{job}"><!--職業--></td>
								<td><span th:if="${vRecord.driversSubInfo.subJobId != null}" th:text="${vRecord.driversSubInfo.job.job}"></span></td>
							</tr>
							<tr th:if="${vRecord.driversSubInfo.relationship != null}">
								<td class="leftColunm" th:text="#{relationship}"><!--続柄--></td>
								<td><span th:text="${vRecord.driversSubInfo.relationship}"></span></td>
							</tr>
							<tr>
								<td>2⃣</td>
								<td colspan="2"><b th:text="#{violationVehicle}"><!--（2）反則車両--></b></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{violationVehicles}"><!--反則車両--></td> 
								<td><span th:text="${vRecord.violationVehicle.violationVehicleType}"></span></td>
							</tr>
							<tr th:if="${heavyTowingVehicle} != null">
								<td class="leftColunm" th:text="#{heavyTowingVehicle}"><!--(重被牽引車)--></td>
								<td><span th:text="${heavyTowingVehicle}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{privateAndBusiness}"><!--（自家用・事業用）--></td>
								<td><span th:text="${vehicleSelect}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{RegistrationNumber}"><!--登録（車両）番号--></td>
								<td><span th:text="${vRecord.vehicleRegistrationNumber}"></span></td>
							</tr>
							<tr>
								<td>3⃣</td>
								<td colspan="2"><b th:text="#{dateAndTimeOfViolation}"><!--（3）反則日時--></b></td>
							</tr>
							<tr>
								<td th:text="#{DateAndTimeOfViolation}"><!--反則日時--></td>
								<td colspan="2"><span th:text="${warekiViolationTimeDetailes}"></span></td>
							</tr>
							<tr>
								<td>4⃣</td>
								<td colspan="2"><b th:text="#{violationLocations}"><!--（4）反則場所--></b></td>
							</tr>
							<tr>
								<td th:text="#{violationLocation}"><!--反則場所--></td>
								<td colspan="2"><span th:text="${vRecord.violationLocation}"></span>道路または付近</td>
							</tr>
							<tr>
								<td>5⃣</td>
								<td colspan="2"><b th:text="#{OffensesAndPenalties}"><!--（5）反則事項・罰条--></b></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{violationDetails}">違反内容</td>
								<td><span th:text="${vRecord.violationAndPointFines.violationName}"></span></td>
							</tr>
							<tr>
								<td class="leftColunm" th:text="#{violationPoint}"><!--違反点数--></td>
								<td><b><span th:style="${vRecord.violationAndPointFines.violationPoints >= 6 ? 'color: red;' : 'color: black;'}"
											th:text="${vRecord.violationAndPointFines.violationPoints + '点'}"></span></b></td>
							</tr>
							<tr th:if="${speedMsg != null}">
								<td class="leftColunm" th:text="#{violationOfSpeedDetails}"><!--速度違反の詳細--></td>
								<td><span th:text="${speedMsg}"></span></td>
							</tr>
							<tr th:if="${not #lists.isEmpty(vRecord.detailes)}">
								<td class="leftColunm" th:text="#{details}"><!--詳細等--></td>
								<td><span th:text="${vRecord.detailes}"></span></td>
							</tr>
							<tr th:if="${not #lists.isEmpty(vRecord.SupplementaryColumn)}">
								<td class="leftColunm" th:text="#{SupplementaryColumn}"><!--補足欄--></td>
								<td><span th:text="${vRecord.SupplementaryColumn}"></span></td>
							</tr>
							<tr th:if="${not #lists.isEmpty(vRecord.carelessness)}">
								<td class="leftColunm" th:text="#{obligationToConfirmDueToNegligence}"><!--不注意による確認義務--></td>
								<td><span th:text="${vRecord.carelessness}"></span></td>
							</tr>
							<tr>
								<td>6⃣</td>
								<td colspan="2"><b th:text="#{violationAmounts}"><!--（6）反則金相当額--></b></td>
							</tr>
							<tr>
								<td th:text="#{violationAmount}"><!--反則金額--></td>
								<td colspan="2"><b><span th:text="${vRecord.violationAndPointFines.fines}"></span>円</b></td>
							</tr>
							<tr>
								<td>7⃣</td>
								<td colspan="2"><b th:text="#{appearance}"><!--（7）出頭--></b></td>
							</tr>
							<tr>
								<td th:text="#{DateTime}"><!--日時--></td>
								<td colspan="2"><span th:text="${appearanceDate}"></span></td>
							</tr>
							<tr>
								<td></td>
								<td colspan="2" th:text="#{noticeMessage}"><!--道路交通法第１２６条の規定により上記のとおり告知します。--></td>
							</tr>
						</tbody>

					</table>
					
				</form>
				<div class="mt-5 mb-5">
					<!--<form method="get" th:action="@{/homePage}">
						<button type="submit" class="issue-btn btn btn-secondary" th:text="#{cancel}"></button>
					</form>-->
					<form method="post" th:action="@{/violationRecordSearchForm}" class="form">
						<button type="submit" class="issue-btn btn btn-secondary">戻る</button>
						<input type="hidden" th:value="${session.searchInfo}" name="form"/>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>

</html>